.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* Colors and*/
body {
    --primary-color: #aaa7a7;
    --bg-color: #fcfcfc;
    --red-color: rgb(231, 6, 6);
    --primary-color-text: #151515;
    --green-color: rgb(167, 223, 84);
    --outline-color: hsl(60, 100%, 50%);
    --border-radius-max: 99999px;
}

body[data-theme="dark"] {
    --primary-color: ;
    --bg-color: #151515;
    --primary-color: #e2e1e0;
    --accent-color: ;
    --primary-color-text: #fcfcfc;
}

/*  Global vars  */
:root {
    --black-color: #151515;
}

/* CSS Reset - page wide styles */
:root {
    font-size: 10px;
    font-weight: bold;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
}

body {
    transition: filter 1s;
    color: var(--primary-color-text);
    background-color: var(--bg-color);
    border-color: var(--primary-color-text);
    height: 100%;
    line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*  */
input,
button,
textarea,
select {
    font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* Media queries */
/* desktop siznin MQ  */
@media (min-width: 500px) {
    :root {
        font-size: 15px;
    }
}

/* exteremly narrow width */
@media (max-width: 300px) {
    :root {
        font-size: 8px;
    }
    .card .timer {
        font-size: 30rem;
    }
}

/* Keyframe animations */
@keyframes transformYUpAndDown {
    from {
        transform: translateY(-8px);
    }
    to {
        transform: translateY(3px);
    }
}

@keyframes scaleUpAndDown {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

/* components */
/* Dash boared Component  */
.dash-board {
    padding: 2rem;
    padding-right: 3rem;
    padding-left: 3rem;
    position: fixed;
    width: 100%;
    bottom: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dash-board * {
    font-display: swap;
}

.dash-board .theme-toggle {
    background-color: var(--primary-color-text);
    border: 2px solid;
    width: 5rem;
    border-radius: var(--border-radius-max);
    color: var(--bg-color);
    height: 5rem;
}

.dash-board .theme-toggle:focus {
    opacity: 0.94;
    animation: scaleUpAndDown 2.5s infinite alternate ease-in-out;
}

.dash-board .theme-toggle:focus,
.dash-board .theme-toggle:hover {
    color: var(--primary-color-text);
    background-color: var(--bg-color);
}

.dash-board .modal-toggle {
    background-color: transparent;
    border: 2px solid var(--black-color);
    width: 5rem;
    font-size: 3rem;
    color: var(--bg-color);
    background-color: var(--primary-color-text);
    padding-top: 0.4rem;
    border-radius: 5000px;
    height: 5rem;
}

.dash-board .modal-toggle:focus {
    opacity: 0.94;
    animation: scaleUpAndDown 2.5s infinite alternate ease-in-out;
}

.dash-board .modal-toggle:focus,
.dash-board .modal-toggle:hover {
    color: var(--primary-color-text);
    background-color: var(--bg-color);
}

.dash-board .movingImg {
    filter: blur(4rem);
    width: 6rem;
    height: 6rem;
    animation: transformYUpAndDown 2.5s infinite alternate ease-in-out;
}

.dash-board .wrapper {
    position: relative;
}

.dash-board .wrapper > img:first-child {
    position: absolute;
    z-index: 1;
    filter: drop-shadow(0px 0px 25px hsl(0deg 0% 0% / 0.3));
}

/* card component */
.card {
    width: calc(100% - 4rem);
    position: absolute;
    top: 10%;
    height: 50%;
    padding: 2rem;
    margin: 2rem;
    overflow: hidden;
    background-color: var(--primary-color);
    border-radius: 8px;
    box-shadow: 0 1px 1px rgba(44, 44, 44, 0.075),
        0 2px 2px rgba(24, 23, 23, 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
        0 8px 8px rgba(0, 0, 0, 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.card .action-button {
    border-radius: var(--border-radius-max);
    border: solid 1px var(--black-color);
    background-color: transparent;
    position: absolute;
    bottom: 2rem;
    font-size: 1.8rem;
    /* width: clamp(10rem, 10rem + 200vw , 12rem); */
    width: 10rem;
    padding-top: 0.3rem;
    left: calc(50% - 5rem);
}

.card .action-button:hover,
.card .action-button:focus {
    background-color: var(--primary-color-text);
    color: var(--bg-color);
}

.card .action-button > div {
    width: 1rem;
    background-color: var(--red-color);
    height: 1rem;
    position: absolute;
    border-radius: 50%;
    right: -0.1rem;
    top: -0.1rem;
}

.card .action-button > div[data-state="started"] {
    background-color: var(--green-color);
}

.card .timer {
    position: relative;
    z-index: 1;
    padding: 1.5rem;
    display: block;
    width: 100%;
    color: var(--black-color);
    font-size: calc(2.2rem + 5.3vw);
    font-weight: 500;
    min-width: fit-content;
    text-align: center;
}

.card .timer > .colon {
    display: inline-block;
    transform: translateY(-0.6rem);
}

.card .options {
    padding-top: 0.35rem;
    position: absolute;
    bottom: 8rem;
    width: 16rem;
    height: 3.3rem;
    left: calc(50% - 8rem);
    font-size: 2rem;
    padding-left: 0.8rem;
    border-radius: var(--border-radius-max);
    background-color: var(--primary-color-text);
    color: var(--bg-color);
}

.card .options:hover,
.card .options:focus {
    background-color: var(--bg-color);
    color: var(--primary-color-text);
}

.card .reset-button {
    border-radius: var(--border-radius-max);
    border: solid 1px var(--black-color);
    background-color: transparent;
    position: absolute;
    font-size: 1.2rem;
    z-index: 2;
    margin-top: -1rem;
    margin-left: -1rem;
    width: 6rem;
    padding-top: 0.3rem;
}

.card .reset-button:hover,
.card .reset-button:focus {
    background-color: var(--primary-color-text);
    color: var(--bg-color);
}

/* modal component */
.modal {
    position: fixed;
    background-color: transparent;
    color: var(--primary-color-text);
    top: 20%;
    width: 100%;
    height: 30%;
    font-size: 2rem;
    padding: 2rem;
    text-align: center;
}

body[data-modal="visible"] .modal {
    color: var(--black-color);
}
body[data-modal="hidden"] .modal {
    display: none;
}

body[data-modal="visible"] *:not(.modal) :not(.modal-toggle) {
    will-change: transform;
    will-change: filter;
    transition: filter 1s;
    pointer-events: none;
    filter: blur(14px);
}

/* body[data-modal="visible"] .card,
body[data-modal="visible"] .dash-board :not(.modal-toggle) {
    will-change: transform;
    will-change: filter;
    transition: filter 1s;
    pointer-events: none;
    filter: blur(14px);
} */

body[data-modal="visible"] * :not(.modal-toggle) {
    will-change: transform;
    will-change: filter;
    transition: filter 1s;
}

body[data-modal="visible"] .modal-toggle {
    /* color: white !important; */
    color: var(--red-color);
    padding-top: 0.5rem;
    font-size: 2rem;
}
